# Задание 1
Определите, какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd
data = pd.read_csv('ratings.csv')

In [3]:
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
data1 = pd.read_csv('movies.csv')

In [5]:
data1.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
joined = data1.merge(data, on='movieId', how='left')
joined.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [9]:
joined5 = joined[joined['rating'] == 5.0]
joined5.head()

,movieId,title,genres,userId,rating,timestamp
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31.0,5.0,850466616.0
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40.0,5.0,832058959.0
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43.0,5.0,848993983.0
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46.0,5.0,834787906.0
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57.0,5.0,965796031.0

In [22]:
count_5_ratings = joined5['title'].value_counts()
count_5_ratings.head()

title
Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
Name: count, dtype: int64

In [20]:
most_5_ratings = count_5_ratings.idxmax()
num_5_ratings = count_5_ratings.max()

In [21]:
print(f"Фильм с наибольшим количеством оценок 5.0: {most_5_ratings} (Кол-во оценок: {num_5_ratings})")

Фильм с наибольшим количеством оценок 5.0: Shawshank Redemption, The (1994) (Кол-во оценок: 153)

# Задание 2
По данным файла power.csv 
посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [25]:
import pandas as pd
df = pd.read_csv('power.csv')
df.head()
filtered_countries = df[ (df['country']=='Latvia') | (df['country']=='Estonia') | (df['country']=='Lithuania') ]

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [34]:
filtered_data = filtered_countries[
    (filtered_countries['category'].isin([4, 12, 21])) &
    (filtered_countries['year'] >= 2005) &
    (filtered_countries['year'] <= 2010) &
    (filtered_countries['quantity'] >= 0)
]

In [40]:
total_consumption = filtered_data['quantity'].sum()

In [41]:
print('Суммарное потребление стран Прибалтики категорий 4, 12 и 21 за период с 2005 по 2010 год:', total_consumption)

Суммарное потребление стран Прибалтики категорий 4, 12 и 21 за период с 2005 по 2010 год: 240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.
Примеры страниц:

https://fortrader.org/quotes;
pythonworld.ru...strok.html

In [53]:
import pandas as pd
df_tabl = 'http://1medcentr.ru/prejskurant/medicinskie-uslugi/massazh'
df_t = pd.read_html(df_tabl,  encoding='utf-8')
df = df_t[0]
df.head()

                                   0       1
0                             Массаж  Массаж
1   Массаж верхней конечности (1 ед)     400
2  Массаж верхних конечностей (2 ед)     700
3     Массаж волосистой части головы     500
4     Массаж шейно-воротниковой зоны     800