#Домашнее задание к лекции "Введение в типы данных и циклы. Часть 1"
#Задание 1
Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:

среднюю букву, если число букв в слове нечетное;
две средних буквы, если число букв четное.

In [ ]:
word = 'test'
if len(word)%2 == 0:
   print(word[(int(len(word)/2)-1):(int(len(word)/2)+1)])
else:
   print(word[int(len(word)/2)])

es

#Задание 2
Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

In [ ]:
x = int(input('Введите число: '))
summa = [x]
while x != 0:
    x = int(input('Введите число: '))
    summa.append(x)
print('Результат: ', sum(summa))

Введите число: 1
Введите число: 0
Результат  1

2 вариант, так как в примере если просто ввести "0", должна быть строка с текстом

In [ ]:
x = int(input('Введите число: '))
summa = [x]
while x != 0:
    x = int(input('Введите число: '))
    summa.append(x)
if sum(summa) == 0:
  print('Результат: ')
elif sum(summa) !=0:
  print('Результат: ', sum(summa))

Введите число: 5
Введите число: 6
Введите число: 0
Результат:  11

#Задание 3
Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

In [ ]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys) != len(girls):
  print('Внимание, кто-то может остаться без пары!')
else:
  sb = sorted(boys)
  sg = sorted(girls)
  print('идеальные пары: ')
  id = zip(sb, sg)
  for pl in id:
    print(pl[0], 'и', pl[1])

идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

#Задание 4
У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

In [ ]:
import math
countries_temperature = [
    ['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Германия', [57.2, 55.4, 59, 59, 53.6]],
    ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
print('Средняя температура в странах:')
for tem in countries_temperature:
 print(tem[0], '-', round((((sum(tem[1])/len(tem[1]))-32)/1.8), 1), 'C')

Средняя температура в странах:
Таиланд - 23.9 C
Германия - 13.8 C
Россия - 3.7 C
Польша - 12.0 C