# Задание 1

In [9]:
import pandas as pd
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [24]:
def rating(data):
    if (2.0 >= data['rating']):
        return 'низкий рейтинг'
    elif (2.0 < data['rating']) and (data['rating'] <= 4):
        return 'средний рейтинг'
    else: 
        return 'высокий рейтинг'
    return False

In [27]:
data['class'] = data.apply(rating, axis=1)
data.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

# Задание 2

In [33]:
import pandas as pd
keywor = pd.read_csv('keywords.csv')
keywor.head(50)

                          keyword     shows
0                              вк  64292779
1                   одноклассники  63810309
2                           порно  41747114
3                            ютуб  39995567
4                       вконтакте  21014195
5      одноклассники моя страница  19976138
6                            майл  15144673
7                           авито  14786593
8                      переводчик  14453469
9                          яндекс  13344734
10                сбербанк онлайн  10725673
11                           mail   7687204
12                           игры   6075762
13                        youtube   5729958
14         вконтакте моя страница   5971451
15                           секс   5431732
16                           гугл   5175471
17                             dr   4880955
18                    алиэкспресс   4879645
19                        рамблер   4540421
20                    фильмы 2016   4486635
21                         погода   4344510
22                             vk   4330448
23              ютуб видеохостинг   4215267
24                          дойки   4133424
25  одноклассники социальная сеть   4018230
26                       мультики   3866664
27                        контакт   3815111
28                        фейсбук   3669993
29                    порно видео   3858938
30                         google   3461040
31                        майл ру   3337779
32                             од   3178503
33                        новости   3137555
34             дом 2 свежие серии   3144489
35               игры для девочек   3053796
36                   порно онлайн   3179321
37                      инстаграм   2939686
38              переводчик онлайн   3882735
39                майл почта вход   2928262
40                    калькулятор   2827625
41                        mail ru   2707981
42                       сбербанк   2594497
43             mail ru почта вход   2576187
44                              ю   2479897
45                         vk com   2469370
46                             ок   2423704
47                        эротика   2410712
48                        авто ру   2398693
49                     почта майл   3386214

In [34]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [35]:
def geo_classifier(row):
    for region, cities in geo_data.items():
        for city in cities:
            if city in row['keyword']:
                return region
    return 'undefined'

In [37]:
keywor['region'] = keywor.apply(geo_classifier, axis=1)
keywor.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [40]:
keywor['region'].value_counts().head(10)

region
undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: count, dtype: int64